/* Main Content */
@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {
    .product_deiver {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: .5rem;
        grid-row-gap: 1rem;
    }
    .product_about a {
        padding: 5px 10px 5px;
    }
}



@media only screen and (min-width: 576px) {
    .product_deiver {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}


@media only screen and (min-width: 768px) {
    .product_deiver {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: .8rem;
        grid-row-gap: 0;
    }
}


@media only screen and (min-width: 992px) {
    .product_deiver {
        grid-column-gap: 1rem;
    }
}