* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.row {
    --bs-gutter-x: 0 !important;
}
.row > * {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
h1, h2, h3, h4, h5, h6, p, hr{
    margin: 0 !important;
}
ul{
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
}
a {
    text-decoration: none !important;
}


/* Home Page Start */
/* Header Area Start */
.my_header {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 5;
    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 13px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 13px rgba(0, 0, 0, 0.4);
}
.short_header {
    background-color: rgba(93, 161, 64);
    color: #fff;
    padding: 8px 0;
}
.short_header i {
    padding-right: 5px;
}
.site_logo__area img {
    width: 80px;
}
.main_header {
    background-color: #fff;
}
.site__navbar__area ul li a {
    color: #535959;
    font-size: 18px;
    font-weight: 600;
}
.site__navbar__area ul li a:hover {
    color: #5da140;
}
/* Slider Area Start */
.slider_area__content .fst_slider_imager, .slider_area__content .snd_slider__imager {
    position: relative;
}
.slider_area__content .fst_slider__content, .slider_area__content .snd_slider__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(93, 161, 64, .5);
}
.fst_slicontent_conteiner, .snd_slicontent_conteiner {
    max-width: 1140px;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.fst_slicontent_conteiner h1, .snd_slider__content h1 {
    font-weight: bold;
    font-size: 40px;
}
.fst_slicontent_conteiner p, .snd_slider__content p {
    font-weight: 600;
    font-size: 18px;
    padding: 5px 0 12px;
}
.fst_slicontent_conteiner a, .snd_slider__content a {
    background-color: #5da140;
    color: #fff;
    border: solid 2px #fff;
    padding: 8px 20px;
    border-radius: 1rem 0 1rem 0;
    font-weight: 600;
    display: inline-block;
    font-size: 18px;
    transition: .5s;
}
.fst_slicontent_conteiner a:hover, .snd_slider__content a:hover {
    color: #fff;
    border-radius: 0 1rem 0 1rem;
}
.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: calc(50% - 37px);
    left: 15px;
    padding: 8px 16px !important;
    background: #5da140;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    border: solid 2px #fff;
}
.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: calc(50% - 37px);
    right: 15px;
    padding: 8px 16px !important;
    background: #5da140;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    border: solid 2px #fff;
}
/* About Area Start  */
.about_area{
    padding: 150px 0 175px;
}
.about_area img {
    width: 100%;
    border-radius: 1rem 0 1rem 0;
}
.section_heading {
    font-weight: 700;
    color: #5da140;
    font-size: 2rem;
}
.about_area_devider p {
    font-weight: 550;
    color: #535959;
}
.read_more__button {
    background-color: #5da140;
    color: #fff;
    padding: 7px 25px 7px;
    border-radius: 7px 0 7px 0;
    font-weight: 600;
    display: inline-block;
    transition: .5s;
}
.read_more__button:hover {
    color: #fff;
    border-radius: 0 7px 0 7px;
}
/* Product Area Start  */
.product_Area {
    padding-bottom: 175px;
}
.product_deiver {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
}
.product_div {
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999; 
    box-shadow: 0 0 5px #999;
    border-radius: 1.5rem;
}
.product_div img {
    width: 100%;
}
.product_about h6 {
    font-size: 20px;
    font-weight: 550;
    color: rgb(31, 30, 30);
}
.product_about span {
    color: #5da140;
}
.product_about a {
    background-color: #5da140;
    color: #fff;
    padding: 7.5px 15px 7.5px;
    border-radius: 7px;
    font-weight: 600;
    display: inline-block;
    margin: 8px 0 15px;
}
.product_about a:hover {
    color: #fff;
} 
/* Certificate Area Start  */
.certicate__imager img {
    width: 100%;
    border: solid 3px #5da140;
    border-radius: 15px;
}
/* Services Area Start  */
.service_area {
    margin-bottom: 50px;
}
/* COlors
-----green 
#5da140
93, 161, 64

---Blue
#0e95cf
14, 149, 207

----gray
#535959
83, 89, 89